# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
__tests__

# production
build

# pgtyped generated statement
src/database/**/*.queries.ts

# view/function creation/drop
temp

# misc
.DS_Store
.env
.env.test

pgTyped.json

yarn-debug.log*
yarn-error.log*
